In [1]:
n=5
for i in range(1,n+1):
    print('* ' * i)

*
* *
* * *
* * * *
* * * * *

In [6]:
for i in range(1,n+1):
    print('* ' * (n+1-i))

* * * * *
* * * *
* * *
* *
*

In [9]:
for i in range(1,n+1):
    print('{}{}'.format( '  ' * (n-i), '* ' *i))

        *
      * *
    * * *
  * * * *
* * * * *

In [11]:
for i in range(1,n+1):
    print('{}{}'.format('  ' *(i-1), '* ' * (n+1-i)))

* * * * *
  * * * *
    * * *
      * *
        *

In [41]:
for i in range(1,n+1):
    print('{}{}'.format('  ' *(n-i), '* ' *(i+i-1)))

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
for i in range(1,n+1):
    print('{}{}'.format('  ' *(i-1), '* ' *((n-i+1)*2-1)))

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [6]:
n=9
for i in range(1,n+1):
    for j in range(1,n+1):
        if (i==1 or j==1 or j==n or i==n or i==j or i+j==n+1):
            print('*' , end= ' ')
        else:
            print(' ' , end = ' ')
    print()

* * * * * * * * *
* *           * *
*   *       *   *
*     *   *     *
*       *       *
*     *   *     *
*   *       *   *
* *           * *
* * * * * * * * *

In [4]:
n = 10
for i in range(1 , n+1 ):
    print('{}   {}'.format(i  , n+1-i))

1   10
2   9
3   8
4   7
5   6
6   5
7   4
8   3
9   2
10   1

In [17]:
n = 5 
for i in range(1,n+1):
    for j in range(1,n+1):
        if(i==j):
            print(i, end = ' ')
        elif(i+j==n+1):
            print(n+1-i, end = ' ')  
        else:
            print(' ', end= ' ')
    print()

1       5
  2   4
    3
  2   4
1       5

In [7]:
n = 7
for i in range(1,n+1):
    for j in range(1,n+1):
        if(i==j or i+j==n+1):
            print(j, end = ' ')  
        else:
            print(' ', end= ' ')
    print()

1           7
  2       6
    3   5
      4
    3   5
  2       6
1           7

In [8]:
n=5
for i in range(1,n+1):
    for j in range(i):
        print('*', end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [9]:
for i in range(1,n+1):
    for j in range(n+1-i):
        print('*' , end = ' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [16]:
for i in range(1,n+1):
    for j in range(5):
        if j>=5-i:
            print('*', end = ' ')
        else:
            print(' ', end = ' ')
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [19]:
for i in range(1,n+1):
    for j in range(i-1):
        print(' ', end = ' ')
    else:
        print('*' , end = ' ')
    print()

*
  *
    *
      *
        *

In [11]:
for i in range(5):
    for j in range(5):
        if j >= 4 - i:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [4]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        print(i, end = ' ')
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [5]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        print(j, end = ' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [7]:
n=5
for i in range(1,n+1):
    print((str(i)+' ') * n)

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [8]:
n =5
for i in range(1,n+1):
    num=1
    for j in range(1,n+1):
        print(num,end =' ')
        num+=1
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [21]:
n=5
for i in range(1,n+1):
    num=5
    for j in range(1,n+1):
        print(num, end = ' ')
        num-=1
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [26]:
n=5
for i in range(1,n+1):
    for j in range(5,0,-1):
        print(j, end = ' ')
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [28]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if(i<=j):
            print(j,end = ' ')
    print()

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [31]:
num = 5 
for i in range(1,n+1):
    print((str(i) + ' ')* i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [32]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if(i<=j):
            print(i,end = ' ')
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [34]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if(i>=j):
            print(i,end = ' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [40]:
n =5
for i in range(1,n+1):
    num=1
    for j in range(1,n+1):
            if(i<=j):
                print(num,end =' ')
                num+=1
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
n=5
for i in range(1,n+1):
    num =1
    for j in range(1)

In [43]:
n = 5
for i in range(1,n+1):
    for j in range(5,0,-1):
        print(j,end = ' ')
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [6]:
n = 5
for i in range(1,n+1):
    for j in range(i):
        print(n,end = ' ')
        num-=1
    print()

5
5 5
5 5 5
5 5 5 5
5 5 5 5 5

In [48]:
n = 5
for i in range(1,n+1):
    for j in range(5,n-i,-1):
        print(j,end = ' ')
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [57]:
n =5 
for i in range(1,n+1):
    print('  '*(n-i), end = '')
    for j in range(1,i+1):
        print(j,end = ' ')
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [64]:
n =5 
for i in range(1,n+1):
    num = 1
    print('  '*(n-i), end = '')
    for j in range(5,0,-1):
        print(num,end = ' ')
        num-=1
    print()

        1 0 -1 -2 -3
      1 0 -1 -2 -3
    1 0 -1 -2 -3
  1 0 -1 -2 -3
1 0 -1 -2 -3

In [70]:
n = 5
for i in range(1,n+1):
    print('  '*(i-1),end ='')
    for j in range(1,n+2-i):
        print(j,end = ' ')
    print()

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [71]:
n = 5
for i in range(1,n+1):
    print('  '*(i-1),end= '')
    for j in range(n-i+1):
        print('*', end = ' ')
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [72]:
n = 5
for i in range(1,n+1):
    print('  '*(i-1),end= '')
    num = 1
    for j in range(n-i+1):
        print(num, end = ' ')
        num+=1
    print()

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1